#cart {
    background-color: #e9c46a;
    height: 100%;
}
.add-to-cart {
    background-color: yellow;
    color: black;
}

#cart-users {
    top: 0px;
    display: inline-block;
}

.product-quantity {
    color: white;
    color: yellow;
}
