.cart {
    @media (min-width:320px)  { width: 100% !important; }
    @media (min-width:481px)  { width: 100% !important; }
    @media (min-width:641px)  { width: 70% !important; }
    @media (min-width:961px)  { width: 50% !important; }
    @media (min-width:1025px) { width: 40% !important;}
    @media (min-width:1281px) { width: 30% !important; }
}

.cart_product {
    margin: 10px 0px 10px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: indigo;
    text-align: center;
    padding-top: 5px;
  }

  #cart {
    background-color: #e9c46a;
    height: 100%;
}
.add-to-cart {
    background-color: yellow;
    color: black;
}

.product-quantity {
    color: white;
    color: yellow;
}
