.categoryLink {
    text-decoration:none; 
    text-transform: capitalize;
    padding-top: 30px;
    color: white !important;
}

.categoryText {
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}